        <div class="ui inverted footer segment">
            <div class="ui center aligned container">
                <p>Trademark Dragonball Blog 2020</p>
            </div>
        </div>
    </body>
</html>