<%- include("partials/header") %>

<div class="ui main text container center aligned grid">
	<div class="ui top attached segment">
		<div class="ui divided items">
            <h1>Dragonball Blog</h1>
            <div class="ui divider"></div>
            <img src="https://i.pinimg.com/originals/18/3a/64/183a64ed166744236a286a2e69c916bb.png" width="500px">
            <div class="ui divider"></div>
            <a href="/posts" class="ui basic orange button">Go to posts</a>
		</div>	
	</div>
</div>

<%- include("partials/footer") %>